@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&display=swap");
.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  /* key */
  --DEL-RESET-background: hsl(225, 21%, 49%);
  --DEL-RESET-shadow: hsl(224, 28%, 35%);
  --EQUAL-background: hsl(6, 63%, 50%); /* also for toggle ball */
  --EQUAL-shadow: hsl(6, 70%, 34%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  /* text */
  --header-text: hsl(0, 0%, 100%);
  --screen-text: hsl(0, 0%, 100%);
  --keypad-text: hsl(221, 14%, 31%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  /* key */
  --DEL-RESET-background: hsl(185, 42%, 37%);
  --DEL-RESET-shadow: hsl(185, 58%, 25%);
  --EQUAL-background: hsl(25, 98%, 40%); /* also for toggle ball */
  --EQUAL-shadow: hsl(25, 99%, 27%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  /* text */
  --header-text: hsl(60, 10%, 19%);
  --screen-text: hsl(60, 10%, 19%);
  --keypad-text: hsl(60, 10%, 19%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  /* key */
  --DEL-RESET-background: hsl(281, 89%, 26%);
  --DEL-RESET-shadow: hsl(285, 91%, 52%);
  --EQUAL-background: hsl(176, 100%, 44%); /* also for toggle ball */
  --EQUAL-shadow: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  /* text */
  --header-text: hsl(52, 100%, 62%);
  --screen-text: hsl(52, 100%, 62%);
  --keypad-text: hsl(52, 100%, 62%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(198, 20%, 13%);
}

.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  /* key */
  --DEL-RESET-background: hsl(225, 21%, 49%);
  --DEL-RESET-shadow: hsl(224, 28%, 35%);
  --EQUAL-background: hsl(6, 63%, 50%); /* also for toggle ball */
  --EQUAL-shadow: hsl(6, 70%, 34%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  /* text */
  --header-text: hsl(0, 0%, 100%);
  --screen-text: hsl(0, 0%, 100%);
  --keypad-text: hsl(221, 14%, 31%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  /* key */
  --DEL-RESET-background: hsl(185, 42%, 37%);
  --DEL-RESET-shadow: hsl(185, 58%, 25%);
  --EQUAL-background: hsl(25, 98%, 40%); /* also for toggle ball */
  --EQUAL-shadow: hsl(25, 99%, 27%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  /* text */
  --header-text: hsl(60, 10%, 19%);
  --screen-text: hsl(60, 10%, 19%);
  --keypad-text: hsl(60, 10%, 19%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  /* key */
  --DEL-RESET-background: hsl(281, 89%, 26%);
  --DEL-RESET-shadow: hsl(285, 91%, 52%);
  --EQUAL-background: hsl(176, 100%, 44%); /* also for toggle ball */
  --EQUAL-shadow: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  /* text */
  --header-text: hsl(52, 100%, 62%);
  --screen-text: hsl(52, 100%, 62%);
  --keypad-text: hsl(52, 100%, 62%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(198, 20%, 13%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-background);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

#root {
  width: 100%;
  max-width: 30rem;
  margin: 10px;
}

.Toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--header-text);
  padding: 10px;
}
.Toggle .toggle-btns-container {
  display: grid;
  grid-template-columns: 1.4rem 1.4rem 1.4rem;
  justify-items: center;
  align-items: center;
  border: none;
  position: relative;
}
.Toggle .toggle-btns-container legend {
  position: absolute;
  left: -70px;
  top: 1.25rem;
  font-size: 0.825rem;
}
.Toggle .toggle-btns-container .radio-btns {
  grid-column: 1/4;
  position: relative;
  width: 4.2rem;
  height: 1.4rem;
  border-radius: 1.4rem;
  background-color: var(--toggle-keypad-background);
}
.Toggle .toggle-btns-container .radio-btns input[type=radio] {
  width: 33%;
  height: 100%;
  opacity: 0;
}
.Toggle .toggle-btns-container .radio-btns .switcher {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  z-index: 3;
  transition: all 0.2s ease-in-out;
  background-color: var(--EQUAL-background);
}
.Toggle .toggle-btns-container .radio-btns #theme-1:checked ~ .switcher {
  left: 0.1rem;
}
.Toggle .toggle-btns-container .radio-btns #theme-2:checked ~ .switcher {
  left: 1.5rem;
}
.Toggle .toggle-btns-container .radio-btns #theme-3:checked ~ .switcher {
  right: 0.1rem;
}

.theme-1 {
  --main-background: hsl(222, 26%, 31%);
  --toggle-keypad-background: hsl(223, 31%, 20%);
  --screen-background: hsl(224, 36%, 15%);
  /* key */
  --DEL-RESET-background: hsl(225, 21%, 49%);
  --DEL-RESET-shadow: hsl(224, 28%, 35%);
  --EQUAL-background: hsl(6, 63%, 50%); /* also for toggle ball */
  --EQUAL-shadow: hsl(6, 70%, 34%);
  --key-background: hsl(30, 25%, 89%);
  --key-shadow: hsl(28, 16%, 65%);
  /* text */
  --header-text: hsl(0, 0%, 100%);
  --screen-text: hsl(0, 0%, 100%);
  --keypad-text: hsl(221, 14%, 31%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-2 {
  --main-background: hsl(0, 0%, 90%);
  --toggle-keypad-background: hsl(0, 5%, 81%);
  --screen-background: hsl(0, 0%, 93%);
  /* key */
  --DEL-RESET-background: hsl(185, 42%, 37%);
  --DEL-RESET-shadow: hsl(185, 58%, 25%);
  --EQUAL-background: hsl(25, 98%, 40%); /* also for toggle ball */
  --EQUAL-shadow: hsl(25, 99%, 27%);
  --key-background: hsl(45, 7%, 89%);
  --key-shadow: hsl(35, 11%, 61%);
  /* text */
  --header-text: hsl(60, 10%, 19%);
  --screen-text: hsl(60, 10%, 19%);
  --keypad-text: hsl(60, 10%, 19%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(0, 0%, 100%);
}

.theme-3 {
  --main-background: hsl(268, 75%, 9%);
  --toggle-keypad-background: hsl(268, 71%, 12%);
  --screen-background: hsl(268, 71%, 12%);
  /* key */
  --DEL-RESET-background: hsl(281, 89%, 26%);
  --DEL-RESET-shadow: hsl(285, 91%, 52%);
  --EQUAL-background: hsl(176, 100%, 44%); /* also for toggle ball */
  --EQUAL-shadow: hsl(177, 92%, 70%);
  --key-background: hsl(268, 47%, 21%);
  --key-shadow: hsl(290, 70%, 36%);
  /* text */
  --header-text: hsl(52, 100%, 62%);
  --screen-text: hsl(52, 100%, 62%);
  --keypad-text: hsl(52, 100%, 62%);
  --del-reset-text: hsl(0, 0%, 100%);
  --equal-text: hsl(198, 20%, 13%);
}

.Output {
  margin: 1.25rem 0;
  padding: 24px 16px;
  vertical-align: middle;
  height: 6rem;
  text-align: right;
  background-color: var(--screen-background);
  color: var(--screen-text);
}
.Output span {
  font-size: 3.25rem;
}

.Output, .Buttons, button {
  border-radius: 10px;
}

.Buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 18px;
  padding: 24px;
  background-color: var(--toggle-keypad-background);
}
.Buttons button {
  border: none;
  height: 3.75rem;
  font-family: "League Spartan", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}
.Buttons .key {
  background-color: var(--key-background);
  color: var(--keypad-text);
  box-shadow: 0 -6px var(--key-shadow) inset;
}
.Buttons .del-key, .Buttons .reset-key {
  font-size: 1.25rem;
  /* bold */
  background-color: var(--DEL-RESET-background);
  color: var(--del-reset-text);
  box-shadow: 0 -6px var(--DEL-RESET-shadow) inset;
}
.Buttons .reset-key {
  grid-column: 1/3;
}
.Buttons .equal-key {
  background-color: var(--EQUAL-background);
  color: var(--equal-text);
  grid-column: 3/5;
  box-shadow: 0 -6px var(--EQUAL-shadow) inset;
}

.attribution {
  font-size: 15px;
  text-align: center;
  color: var(--header-text);
}

.attribution a {
  color: var(--EQUAL-shadow);
}